<script>
    function fb_login() {
        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
                document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
            } else {
                FB.login(function(response) {
                    if (response.authResponse) {
                        document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                    }
                });
            }
        });
    }
</script>

<div onClick="fb_login();" class="fb-login-button facebook-connect btn-block" data-max-rows="1" data-size="xlarge"
    data-show-faces="false" data-auto-logout-link="false">
</div>
